---
import {BestFrameworkComponent} from '../components/best-framework.component';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<BestFrameworkComponent data-analog-id="bestFrameworkCmp"  client:visible />
		<div id="answer">

		</div>
		<script>
			import { addOutputListener } from '@analogjs/astro-angular/utils';

			addOutputListener('bestFrameworkCmp', 'selectFrameworkEv', (output) => {
				const answer = document.querySelector('#answer') as HTMLDivElement;
				let answerText;
				switch (output.detail) {
					case 'angular':
						answer.style.color = 'green';
						answerText = 'Good job!';
						break;
					case 'react':
						answer.style.color = 'red';
						answerText = 'React is not a framework, but even if it was you would still be wrong';
						break;
					case 'vue':
						answer.style.color = 'red';
						answerText = 'Vue is not bad, but try again';
						break;
					case 'svelte':
						answer.style.color = 'red';
						answerText = 'Close but no cigar';
						break;
					default:
						break;
				}
				answer.innerHTML = answerText as string;
			});

		</script>
	</body>

</html>
